body {
    background-color: #D1E2C4;
}

h1#title {
    text-align: center;
    font-family: "Paytone One"; 
    color: #6d7f88;
    font-size: 60px;
}

.task-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#taskName {
    padding: 15px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
}

#addButton {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 8px 15px;
    margin-top: 5px;
}

.task-wrap li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    font-size: xx-large;
    background-color: #fffcfc;
    box-shadow: 2px 2px 5px #888888;
    padding: 10px;
    cursor: pointer;
}

.task-wrap li input[type="checkbox"] {
    width: 25px;
    height: 25px;
    appearance: none;
    border-radius: 50%;
    outline: none;
    border: 0.5px solid #a8a7a7;
}

.task-wrap li input[type="checkbox"]:checked {
    background-color: #a6c8f0;
}

.task-wrap li label {
    flex-grow: 1;
    margin: 0 10px; /* Adjust the margin as needed */
}

.task-wrap li:hover {
    background-color: #d0d0d0;
}
#nav-icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  #nav-icon span {
    height: 5px;
    width: 40px;
    background: #000;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  #nav-icon.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  #nav-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  